/*!
 * Mobirise v4 theme (https://mobirise.com/)
 * Copyright 2017 Mobirise
 */

section {
  background-color: #eeeeee; }

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word; }

a.mbr-iconfont:hover {
  text-decoration: none; }

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
  margin-bottom: 0; }

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;

}
a, a:hover {
  text-decoration: none; }

figure {
  margin-bottom: 0; }



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-left: 2px solid;
  border-color: #ff3366; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color; }

textarea[type="hidden"] {
  display: none; }

body {
  position: relative; }

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }
.centered-container {
  background-color: white;
  display: inline-flex;
  padding: 4rem;
  border-radius: .125rem;
  border: 1px solid rgba(black, .1);
  box-shadow: 0 .125rem .25rem rgba(black, .04);
  height: 50px;
}

.link {

  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}

.link--arrowed {
  display: flex;
  height: 2rem;
  line-height: 2rem;


  .arrow-icon {
    position: relative;
    top: -1px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }

  .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;

  }

  &:hover {
    .arrow-icon {
      transform: translate3d(5px, 0, 0);
      color: #a20067;
    }

    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }
  }
}
.bi-text h4{
  display: inline-block;
  vertical-align: top;
}
.add:hover{
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.44);
  transition: 1s;
}
.aside{
  display: none;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
ul.list-style-none {
  margin: 0;
  padding: 0;
}
ul.list-style-none li {
  list-style: none;
}

.font-light {
  font-size: 20px;
  color: #162941;
  font-weight: bolder;
}
.font-20 {
  font-size: 25px !important;
}

ul.list-style-none li a {
  color: #313131;
  padding: 8px 0;
  display: block;
  text-decoration: none;
}
.text-muted {
  color: #8898aa!important;
}
.text-uppercase {
  color: #162941;
}
.hard-title , .font-medium{
  font-weight: bold;
}
.hard-title{

}
.btn{
  background-color: #1e2833;
}
.btn:hover{
  background-color: rgba(30, 40, 51, 0.89);
}
.machine-title{
  color: #162941;
}
.machine-os{
  font-size: 15px;
  color: #162941;
}
.btn-danger{
  background-color: rgba(246, 64, 53, 0.91);
}
.btn-danger:hover{
  background-color: rgba(255, 17, 3, 0.65);

}

.headings {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2em 0;
}

.title {
  margin: 0;
  color: #1e2833;
  font-family: "Roboto Light";
}

.hr {
  display: block;
  flex: 1;
  margin: 0 30px;
  height: 3px;
  background: #D4D4D4;
}
.fa-solid{
  font-size: x-large;
}
@keyframes blinking {
  0% {
    background-color: rgb(255, 0, 0,0.25);

  }
  25% {
    background-color: rgb(255, 0, 0,0.5);

  }

}
.blink {
  animation: blinking 1s infinite;
}


.spin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #000000;
  border-top: 10px solid #89f5a2;
  border-bottom: 10px solid #89f5a2;
  animation: round 1.2s linear infinite;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
