version : '3'
services:
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "5000:5000"
    links:
      - mongo
      - flask-service
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
  mongo:
    container_name: mongo
    restart: always
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
  flask-service:
    build:
      context: .
      dockerfile: python/Dockerfile
    container_name: flask-container
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
  proxy:
    restart: always
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - 80:80
      - 443:443
    depends_on:
      - app
