<div class="p-4 sm:ml-64">
  <div class="p-4">
    <div class="dash">

      <div id="app">

        <app-aside></app-aside>

        <div class="bg-gray-50 px-6 py-4 border-b border-gray-200">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">

            <!-- Left: Breadcrumb and Title -->
            <div>
              <!-- Breadcrumb -->
              <nav class="text-sm text-gray-500 mb-2">
                <ol class="flex items-center space-x-2">
                  <li><a routerLink="/dashbord" class="hover:underline">Admin</a></li>
                  <li>/</li>
                  <li class="font-semibold text-black">Sites</li>
                </ol>
              </nav>

              <!-- Page Title -->
              <h1 class="text-2xl font-semibold text-gray-800">Sites</h1>
            </div>

            <!-- Right: Buttons -->
            <div class="flex flex-col sm:flex-row gap-2 items-center">
              <button (click)="openCrudModal()"
                class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 w-full md:w-auto">
                <i class="fas fa-plus mr-2"></i> Ajouter
              </button>

              <button (click)="exportFile()"
                class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 rounded hover:bg-green-700 w-full md:w-auto">
                <i class="fas fa-download mr-2"></i> Exporter
              </button>

              <button (click)="reloadAllSites()"
                class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-purple-600 rounded hover:bg-purple-700 w-full md:w-auto">
                <i class="fas fa-sync-alt mr-2"></i> Reload All
              </button>

              <!-- 🔥 Toggle Switch Midnight Reload -->
              <label class="inline-flex items-center cursor-pointer px-3">
                <input type="checkbox" [(ngModel)]="midnightReloadEnabled"
                  (change)="toggleMidnightReload(midnightReloadEnabled)" class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 rounded-full peer-focus:ring-2 peer-focus:ring-blue-400 
             dark:bg-gray-700 peer-checked:bg-blue-600 after:content-[''] after:absolute after:top-[2px] 
             after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 
             after:w-5 after:transition-all peer-checked:after:translate-x-full peer-checked:after:border-white">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900">Midnight Reload</span>
              </label>
            </div>

          </div>
        </div>

        <section class="section main-section">



          <div class="h-full mt-8 mx-auto">
            <!-- Card -->
            <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300">
              <!-- Card Header -->
              <div class="flex flex-wrap justify-between items-center mb-4 gap-4">
                <h2 class="text-lg font-semibold flex items-center gap-2">

                  <i class="fas fa-broadcast-tower fa-2x text-blue-500" style="font-size: 20px;"></i>
                  Administration des sites
                </h2>
                <div class="relative">
                  <input type="text" placeholder="Search..." [(ngModel)]="term"
                    class="pl-10 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent w-72" />
                  <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd"
                        d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM10 16a6 6 0 100-12 6 6 0 000 12z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </div>
              </div>

              <!-- Chart Container -->
              <div class="relative">
                <!-- Loading Spinner -->
                <div class="flex items-center justify-center" *ngIf="spinnerSite">
                  <div class="spin"></div>
                </div>

                <!-- Content -->
                <div class="card-content">
                  <!-- Desktop Table -->
                  <div class="hidden md:block overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="!bg-blue-600 text-white">
                        <tr>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Nom
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            IP Address
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Latitude
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Longitude
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Projet
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Type
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Status
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Actions</th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Refresh&nbsp;&nbsp;Reload </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let site of sites | filterBy: ['ip']: this.term | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page }">
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ site.nom }}</td>
                          <td class="px-5 py-5 font-semibold border-b border-gray-200 bg-white text-sm">{{ site.ip }}
                          </td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ site.latitude }}</td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ site.longitude }}</td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <span
                              class="inline-block bg-blue-100 text-blue-800 text-xs font-medium px-3 py-1 rounded-full border border-blue-200">
                              {{ site?.project?.nom }}
                            </span>
                          </td>
                          <td class="px-5 py-5 font-semibold border-b border-gray-200 bg-white text-sm">{{
                            site.Battery_Type }}</td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <app-site-status [ip]="site.ip"></app-site-status>
                          </td>
                          <td data-label="Modifer" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <i (click)="onFitchSite(site)" data-label="modifer" title="modifer"
                              class="fa cursor-pointer fa-edit"></i>
                            <i (click)="openDeletedModal(site._id)" data-label="supprimer" title="supprimer"
                              class="fa cursor-pointer fa-remove ml-5"></i>
                          </td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <app-refresh-site [idSite]="site._id"></app-refresh-site>
                            <app-reload-site #reloadBtn [idSite]="site._id"
                              (siteReloaded)="onSiteReloaded(site._id, $event)"></app-reload-site>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Mobile Cards -->
                  <div class="md:hidden space-y-4">
                    <div
                      *ngFor="let site of sites |  filterBy: ['ip']: this.term | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page }"
                      class="bg-white shadow rounded-lg p-4 border border-gray-200 transition transform hover:scale-[1.01] duration-150">
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">Nom</span>
                        <p class="text-gray-800 font-medium">{{ site.nom }}</p>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">IP Address</span>
                        <p class="text-gray-800 font-semibold">{{ site.ip }}</p>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">Latitude</span>
                        <p class="text-gray-800">{{ site.latitude }}</p>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">Longitude</span>
                        <p class="text-gray-800">{{ site.longitude }}</p>
                      </div>
                      <hr class="my-3 border-gray-200" />
                      <div class="mb-3">
                        <span class="block text-xs font-semibold text-gray-500 uppercase tracking-wide">Projet</span>
                        <span
                          class="inline-block mt-1 bg-blue-100 text-blue-800 text-xs font-medium px-3 py-1 rounded-full border border-blue-200">
                          {{ site?.project?.nom || 'Non défini' }}
                        </span>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">Battery_Type</span>
                        <p class="text-gray-800 font-semibold">{{ site.Battery_Type }}</p>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div>
                        <span class="text-xs font-semibold text-gray-500 uppercase">Status</span>
                        <div class="mt-1">
                          <app-site-status [ip]="site.ip"></app-site-status>
                        </div>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div>
                        <span class="text-xs font-semibold text-gray-500 uppercase">Action</span>
                        <div class="mt-1">
                          <i (click)="onFitchSite(site)" data-label="modifer" title="modifer"
                            class="fa cursor-pointer fa-edit"></i>
                          <i (click)="openDeletedModal(site._id)" data-label="supprimer" title="supprimer"
                            class="fa cursor-pointer fa-remove ml-5"></i>


                        </div>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div>
                        <span class="text-xs font-semibold text-gray-500 uppercase"> Refresh&nbsp;&nbsp;Reload </span>
                        <div class="mt-1">


                          <app-refresh-site [idSite]="site._id"></app-refresh-site>
                          <app-reload-site [idSite]="site._id" [ipSite]="site.ip"
                            (siteReloaded)="onSiteReloaded(site._id, $event)"></app-reload-site>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <div class="section main-section mt-4">
              <pagination-controls *ngIf="sites.length > 0" class="paginationforum" [class.active]="'colorActive'"
                id="listing_pagination" (pageChange)="page = $event">
              </pagination-controls>
            </div>
          </div>


        </section>

        <div class="bg-white ">
          <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
            <div class="md:flex">
              <div class="w-full p-3">
                <div
                  class="relative cursor-pointer border-dotted h-48 rounded-lg border-dashed border-2 border-blue-700 bg-gray-100 flex justify-center items-center">

                  <div class="absolute">

                    <div class="flex flex-col items-center">
                      <i class="fa fa-folder-open fa-4x text-blue-700" *ngIf="!uploaded"></i>
                      <i><span *ngIf="uploaded">
                          <svg class="animate-spin h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                            </circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                          </svg>
                        </span></i>
                      <span class="block text-gray-400 font-normal">{{filename}}</span>
                    </div>
                  </div>


                  <input type="file" class="h-full w-full opacity-0" type="file" id="customFile"
                    (change)="detectFile($event)"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-exce"
                    name="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="delete-modal" tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <button type="button" (click)="deletedModal?.hide()"
        class="cursor-pointer absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="delete-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Vous êtes sûr de supprimer le site
          sélectionné ?</h3>
        <button data-modal-hide="delete-modal" (click)="deleteSite(deletedSiteId)" type="button"
          class="cursor-pointer  bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          Oui, je suis sûr
        </button>
        <button data-modal-hide="delete-modal" (click)="deletedModal?.hide()" type="button"
          class=" cursor-pointer py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Non,
          annuler</button>
      </div>
    </div>
  </div>
</div>

<div id="crud-modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white" *ngIf="type!=='Edit'">
          Ajouter un nouveau Site
        </h3>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white" *ngIf="type=='Edit'">
          Modifier un Site
        </h3>
        <button type="button"
          class="cursor-pointer crud-modal text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="crud-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="" (ngSubmit)="onAddStock(f, editSite,sites)" #f="ngForm" class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">

          <!-- Nom du site -->
          <div class="col-span-2">
            <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Nom du site <span class="text-red-500">*</span>
            </label>
            <input type="text" name="nom" [ngModel]="type === 'Edit' ? siteEdited.nom : null" ngModel required
              #nom="ngModel" placeholder="Nom du site"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
            <p class="mt-1 text-sm text-red-500" *ngIf="f.submitted && !nom.valid">
              Le champ Nom ne correspond pas!
            </p>
          </div>

          <!-- Address IP -->
          <div class="col-span-2">
            <label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Adresse IP <span class="text-red-500">*</span>
            </label>
            <input type="text" name="ip" [ngModel]="type === 'Edit' ? siteEdited.ip : null" ngModel required
              #ip="ngModel" placeholder="Adresse IP du site"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
            <p class="mt-1 text-sm text-red-500" *ngIf="f.submitted && !ip.valid">
              Le champ Address IP ne correspond pas!
            </p>
          </div>
          <div class="col-span-2">
            <label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Latitude <span class="text-red-500"></span>
            </label>
            <input type="text" name="latitude" [ngModel]="type === 'Edit' ? siteEdited.latitude : null" ngModel
              #ip="ngModel" placeholder="Latitude du station ex 60.96"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
            <p class="mt-1 text-sm text-red-500" *ngIf="f.submitted && !ip.valid">
              Le champ Address IP ne correspond pas!
            </p>
          </div>
          <div class="col-span-2">
            <label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Longitude <span class="text-red-500"></span>
            </label>
            <input type="text" name="longitude" [ngModel]="type === 'Edit' ? siteEdited.longitude : null" ngModel
              #ip="ngModel" placeholder="Longitude du station ex -50.66"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
            <p class="mt-1 text-sm text-red-500" *ngIf="f.submitted && !ip.valid">
              Le champ Address IP ne correspond pas!
            </p>
          </div>
          <div class="col-span-2">
            <label for="isAdmin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Type <span class="text-red-500">*</span>
            </label>
            <select id="Battery_Type" name="Battery_Type" [ngModel]="type === 'Edit' ? siteEdited.Battery_Type : '' "
              ngModel #Battery_Type="ngModel" required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white">
              <option value="" disabled selected="true">--Please choose a profile--</option>
              <option value="AGM">AGM</option>
              <option value="LITHIUM">LITHIUM</option>
            </select>
          </div>
          <div class="col-span-2">
            <label for="project" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Projects <span class="text-red-500">*</span>
            </label>

            <select id="project" name="project" *ngIf="projects"
              [ngModel]="type === 'Edit' ? siteEdited.project._id: []" ngModel required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 
           focus:ring-blue-500 focus:border-blue-500 
           dark:bg-gray-600 dark:border-gray-500 dark:text-white">
              <option value="" disabled selected="true">--Please choose a project--</option>
              <option *ngFor="let project of projects" [value]="project._id">
                {{ project.nom }}
              </option>
            </select>
          </div>
        </div>

        <!-- Submit Buttons -->
        <button type="submit" [disabled]="f.invalid"
          class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <i class="fa fa-save mr-2"></i> Enregistrer
        </button>
      </form>

    </div>
  </div>
</div>