<div class="grid grid-cols-2 gap-x-6 gap-y-4 text-sm text-gray-700" >
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-indigo-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3h2v18h-2z" />
      </svg>
    
      <span class="font-semibold">Array Volt:</span> 
         <i *ngIf="site">{{ site.Array_Voltage }} V</i>
         <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
      </svg>
      <span class="font-semibold">Battery Vol:</span> 
      <i *ngIf="site">{{ site.Battery_Voltage }} V</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h11l-1.5 2.5L14 15H3v-5z" />
      </svg>
      <span class="font-semibold">Load Volt:</span> 
      <i *ngIf="site">{{ site.Load_Voltage }} V</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3-3 3 3M8 15l3 3 3-3" />
      </svg>
      <span class="font-semibold">Battery Tem:</span>
      <i *ngIf="site">{{ site.Temperature_Battery }} °C</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v16h16V4H4zm4 4h8v8H8V8z" />
      </svg>
      <span class="font-semibold">Charge:</span>
      <i *ngIf="site">{{ site.Charge_Current }} A</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-purple-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4H8v-4h5V4l7 7-7 7v-4z" />
      </svg>
      <span class="font-semibold">Sweep:</span>
      <i *ngIf="site"> {{ site.Sweep_Pmax }} V</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-pink-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5h2v14h-2z" />
      </svg>
      <span class="font-semibold">Load:</span>
      <i *ngIf="site"> {{ site.Load_Current }} A</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
  
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5 text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 3v1m0 16v1m8.66-13.66l-.71.71M4.05 19.95l-.71-.71M21 12h1M2 12H1m2.34-4.95l.71.71M19.95 19.95l.71-.71" />
      </svg>
      <span class="font-semibold">Temp</span>
      <i *ngIf="site"> {{ site.Temperature_Ambient }} °C</i>
      <i *ngIf="!site" class="border-t-transparent border-solid animate-spin  rounded-full border-blue-300 border-8 h-5 w-5"></i>
      
    </div>
</div>