<div class="dash">

    <div id="app">
  
      <app-aside></app-aside>
  
      <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <ul>
            <li>Dashbord</li>
            <li>Users</li>
          </ul>
  
        </div>
      </section>
  
      <section class="is-hero-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <h1 class="title">
            <span class="icon">
                <i class="mdi mdi mdi-account-multiple" *ngIf="!spinnerMember"></i>
                <i><nz-spin nzSimple [nzSize]="'large'"  *ngIf="spinnerMember" style="margin-right: 50%"></nz-spin></i>
              </span>
            Users
          </h1>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  (click)="openAddModal()">
            <i class="fa fa-plus"></i>
          </button>
  
  
        </div>
  
      </section>
  
      <section class="section main-section">
  
        <div class="card has-table">
          <header class="card-header">
            <p class="card-header-title">
            </p>
            <div class="flex items-center justify-center">
              <div class="flex border-2 rounded">
                <input type="text" class="px-4 py-2 w-80" placeholder="Search..." [(ngModel)]="term">
                <button class="flex  items-center justify-center px-4 border-l">
                  <svg class="w-6 h-6 " fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24">
                    <path
                      d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                  </svg>
                </button>
              </div>
            </div>
          </header>
          <body class="antialiased font-sans">
          <div class="container">
            <div class="">
              <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-1 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
  
                  <table class="min-w-full leading-normal">
                    <thead>
                    <tr>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Nom
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Profile
                      </th>
  
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Status
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
  
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
  
                      </th>
                    </tr>
                    </thead>
                    <tbody>
  
                    <tr   *ngFor="let member of members |filter:term | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page }; let i=index">
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="flex items-center">
  
                          <div class="ml-3">
                            <p class="text-gray-900 whitespace-no-wrap">
                              {{member.username}}
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap"*ngIf="member.isAdmin">Administrator</p>
                        <p class="text-gray-900 whitespace-no-wrap"*ngIf="!member.isAdmin">Operator</p>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <span *ngIf="member.actif"  class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                            <span aria-hidden
                                  class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                            <span class="relative">Actif</span>
                        </span>
                        <span *ngIf="!member.actif"  class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                          <span aria-hidden
                                      class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                <span class="relative">Offline</span>
                        </span>
                      
                      </td>
                      <td data-label="Modifer" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <i  class="fa cursor-pointer fa-edit" (click)="onFitchMember(member)"></i>
                      </td>
                      <td data-label="Suppimer" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <i  (click)="ShowModale(member._id,member.username)"   class="fa cursor-pointer fa-remove"></i>
                      </td>
                    </tr>
  
                    </tbody>
                  </table>
  
                </div>
              </div>
            </div>
          </div>
          </body>
        </div>
      </section>
      <div class="section main-section">
        <pagination-controls *ngIf="members.length>0" class="paginationforum" [class.active]="'colorActive'"  id="listing_pagination"  (pageChange)="page = $event" ></pagination-controls>
  
      </div>
  
    </div><div class="container flex justify-center mx-auto">
  
    <div class="absolute inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50  " [hidden]="hiddenModal">
      <div class="w-85 p-6 bg-white" style="width: 30rem;">
        <div class="flex items-center justify-between">
          <h3 class="text-2xl" *ngIf="type!=='Edit'">Add New User</h3>
          <h3 class="text-2xl" *ngIf="type==='Edit'">Edit User</h3>
          <svg (click)="onCloseAddModal()" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 cursor-pointer" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="mt-4">
          <form action="" (ngSubmit)="onAddStock(f,editMember)" #f="ngForm">
            <div class="mb-5" *ngIf="type!=='Edit'">
              <label for="username" class="block font-bold text-gray-600">Username<span>*</span></label>
              <input type="text" name="username" ngModel required #username="ngModel"
                     class="w-full p-2 border border-gray-300 rounded-l shadow focus:outline-none focus:ring-2 focus:a20067-600"
                     placeholder="username">
              <p class="mt-1 text-sm text-red-400" *ngIf="f.submitted && !username.valid">Le champ Nom ne correspond pas!</p>
            </div>
            <div class="mb-5" *ngIf="type==='Edit'">
              <label for="username" class="block font-bold text-gray-600">Username <span>*</span></label>
              <input type="text" name="username" [ngModel]="memberEdited.username" required #username="ngModel"
                     class="w-full p-2 border border-gray-300 rounded-l shadow focus:outline-none focus:ring-2 focus:a20067-600"
                     placeholder="Variant">
              <p class="mt-1 text-sm text-red-400" *ngIf="f.submitted && !username.valid">Le champ Nom ne correspond pas!</p>
            </div>
            <div class="mb-5" *ngIf="type!=='Edit'">
              <label for="isAdmin" class="block font-bold text-gray-600">Profile <span>*</span></label>
              <select name="isAdmin" ngModel #isAdmin="ngModel"id="isAdmin" class="w-full p-2 border border-gray-300 rounded-l shadow focus:outline-none focus:ring-2 focus:a20067-600">
                <option value="" selected>--Please choose a profile--</option>
                <option value="true">Administrator</option>
                <option value="false">Operator</option>
               
                </select>
            </div>
            <div class="mb-5" *ngIf="type=='Edit'">
              <label for="isAdmin" class="block font-bold text-gray-600">Profile <span>*</span></label>
              <select name="isAdmin" [ngModel]="memberEdited.isAdmin" #isAdmin="ngModel"id="isAdmin" class="w-full p-2 border border-gray-300 rounded-l shadow focus:outline-none focus:ring-2 focus:a20067-600">
                <option value="" selected>--Please choose a profile--</option>
                <option value="true">Administrator</option>
                <option value="false">Operator</option>
               
                </select>
            </div>
          
            
  
            <button type="submit" [disabled]="f.invalid"
                    class="block w-full p-3 font-bold text-white bg-blue-500 rounded-l" *ngIf="!saving"><i class="fa fa-save"></i> Enregister</button>
            <button type="submit" [disabled]="f.invalid"
                    class="block w-full p-3 font-bold text-white bg-blue-500 rounded-l" *ngIf="saving"><nz-spin nzSimple style="color: white" > </nz-spin></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  