<div class="flex flex-wrap mt-3">
  <div class="relative flex-grow max-w-full flex-1 px-4 border-r text-center" title="Battery Voltage">
    <h4 class="uppercase"><i class="fa-solid fa-car-battery"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Battery_Voltage}} V</h2>
  </div>
  <div class="relative flex-grow max-w-full flex-1 px-4 border-r text-center" title="Charge Current">
    <h4 class="uppercase"><i class="fa-solid fa-bolt"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Charge_Current}} A</h2>
  </div>
</div>
<div class="flex flex-wrap mt-1">
  <div class="relative flex-grow max-w-full flex-1 px-4 border-r text-center" title="Array Voltage">
    <h4 class="uppercase"><i class="fa-solid fa-car-battery"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Array_Voltage}} V</h2>
  </div>
  <div class="relative flex-grow max-w-full flex-1 px-4 text-center" title="Sweep Pmax">
    <h4 class="uppercase"><i class="fa-solid fa-gauge"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Sweep_Pmax}} W</h2>
  </div>
</div>
<div class="flex flex-wrap mt-1">
  <div class="relative flex-grow max-w-full flex-1 px-4 border-r text-center" title="Load Voltage">
    <h4 class="uppercase"><i class="fa-solid fa-car-battery"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Load_Voltage}} V</h2>
  </div>
  <div class="relative flex-grow max-w-full flex-1 px-4 text-center" title="Load Current">
    <h4 class="uppercase"><i class="fa-solid fa-bolt"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Load_Current}} A</h2>
  </div>
</div>
<div class="flex flex-wrap mt-1">
  <div class="relative flex-grow max-w-full flex-1 px-4 border-r text-center" title="Battery Temperature">
    <h4 class="uppercase"><i class="fa-solid fa-temperature-three-quarters"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Temperature_Battery}} °C</h2>
  </div>
  <div class="relative flex-grow max-w-full flex-1 px-4 text-center" title="Temperature Ambient">
    <h4 class="uppercase"><i class="fa-solid fa-temperature-low"></i></h4>
    <span class="icon" *ngIf="spinnerData">
      <i><nz-spin nzSimple [nzSize]="'small'" ></nz-spin></i>
    </span>
    <h2 class="font-light" *ngIf="!spinnerData">{{site.Temperature_Ambient}} °C</h2>
  </div>
</div>
