<div class="dash">

  <div id="app">

    <app-aside></app-aside>

    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Admin</li>
          <li>Dashboard</li>
        </ul>

      </div>
    </section>
    <section class="is-hero-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
          Dashboard
        </h1>
         <span class="icon" *ngIf="spinnerSite">
              <i><nz-spin nzSimple [nzSize]="'large'"  style="margin-right: 50%"></nz-spin></i>
            </span>


      </div>
    </section>

    <section class="section main-section">
      <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Utilisateurs
                </h3>
                <h1>
                 <app-total-members></app-total-members>
                </h1>
              </div>
              <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Sites
                </h3>
                <h1>
                  {{sites.length}}
                </h1>
              </div>
              <span class="icon widget-icon text-blue-500"><i class="mdi mdi-database-marker mdi-48px"></i></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Performance
                  Batteries
                </h3>
                <h1>
                  {{upVoltage}} %
                </h1>
              </div>
              <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-6">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-finance"></i></span>
            Surveillence des Batteries

          </p>
          <div class="flex items-center justify-center">
            <div class="flex ">
              <span *ngIf="!spinnerSite">
              <i class="mdi mdi-refresh mdi-48px" title="refresh" (click)="onRefresh(chart)"></i>
            </span>

            </div>
          </div>

        </header>
        <div class="card-content">
          <div class="chart-area">
            <div class="h-full">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class="flex items-center justify-center h-screen" *ngIf="spinnerSite">
                      <div class="spin" ></div>
                  </div>
                  <div ><canvas id="my-chart" ></canvas></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-6">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-finance"></i></span>
            Status des sites

          </p>
          <div class="flex items-center justify-center">
            <div class="flex items-center justify-center">
              <div class="flex border-2 rounded">
                <input type="text" class="px-4 py-2 w-80" placeholder="Search..." [(ngModel)]="term">
                <button class="flex  items-center justify-center px-4 border-l">
                  <svg class="w-6 h-6 " fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24">
                    <path
                      d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                  </svg>
                </button>
              </div>
          

            </div>
          </div>

        </header>
        <div class="card-content">
          <table class="min-w-full">
            <thead>
            <tr style="margin-right: 25%;">
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Nom
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                IP Address
              </th>

              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Status
              </th>
              
            </tr>
            </thead>
            <tbody>

            <tr   *ngFor="let site of sites |filter : term | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page }; let i=index">
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center">

                  <div class="ml-3">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{site.nom}}
                    </p>
                  </div>
                </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{site.ip}}</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <app-site-status [ip]="site.ip"></app-site-status>
              </td>
            </tr>

            </tbody>
          </table>

      </div>
      <div class="section main-section">
          <pagination-controls *ngIf="sites.length>0" class="paginationforum" [class.active]="'colorActive'"  id="listing_pagination"  (pageChange)="page = $event" ></pagination-controls>
    
      </div>
      </div>
      </section>
      </div>
</div>
