.dash{
  background-color: #f9fafb;
}
.mdi-refresh:hover {
  cursor: pointer;
}
.spin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #000000;
  border-top: 10px solid #89f5a2;
  border-bottom: 10px solid #89f5a2;
  animation: round 1.2s linear infinite;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login__button,
.signup__button {
  height: 45px;
  font-size: 0.702rem;
  letter-spacing: 0.075rem;
  font-weight: bold;
  text-transform: uppercase;
}
.fa{
  font-size: 25px;
}
.fa-remove{
  color: #a20000;
}
.fa-edit{
  color: #005e03;
}
button{
  background: #005eb8;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}


th {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}
@keyframes blinking {
  0% {
    background-color: rgb(255, 0, 0,0.25);

  }
  25% {
    background-color: rgb(255, 0, 0,0.5);

  }

}
.blink {
  animation: blinking 1s infinite;
}


