.dash{
  background-color: #f9fafb;
}
.mdi-refresh:hover {
  cursor: pointer;
}
.spin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #000000;
  border-top: 10px solid #89f5a2;
  border-bottom: 10px solid #89f5a2;
  animation: round 1.2s linear infinite;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
