<div class="dash">

  <div id="app">

    <app-aside></app-aside>

    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Admin</li>
          <li>Dashboard</li>
        </ul>

      </div>
    </section>
    <section class="is-hero-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
          Dashboard
        </h1>
        <span class="icon" *ngIf="spinnerSite">
              <i><nz-spin nzSimple [nzSize]="'large'"  style="margin-right: 50%"></nz-spin></i>
            </span>


      </div>
    </section>

    <section class="section main-section">
      <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Utilisateurs
                </h3>
                <h1>
                  1
                </h1>
              </div>
              <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Sites
                </h3>
                <h1>
                  {{sites.length}}
                </h1>
              </div>
              <span class="icon widget-icon text-blue-500"><i class="mdi mdi-database-marker mdi-48px"></i></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Performance
                  Batteries
                </h3>
                <h1>
                  {{upVoltage}} %
                </h1>
              </div>
              <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-6">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-finance"></i></span>
            Surveillance des Batteries

          </p>
          <div class="flex items-center justify-center">
            <div class="flex ">
              <span *ngIf="!spinnerSite">
              <i class="mdi mdi-refresh mdi-48px" title="refresh" (click)="onRefresh(chart)"></i>
            </span>

            </div>
          </div>

        </header>
        <div class="card-content">
          <div class="chart-area">
            <div class="h-full">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class="flex items-center justify-center h-screen" *ngIf="spinnerSite">
                    <div class="spin" ></div>
                  </div>
                  <div><canvas id="my-chart" ></canvas></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-6">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-finance"></i></span>
            Surveillance des sites

          </p>
          <div class="flex items-center justify-center">
            <div class="flex ">
              <span *ngIf="!spinnerSite">
              <i class="mdi mdi-refresh mdi-48px" title="refresh" (click)="onRefresh(chart)"></i>
            </span>

            </div>
          </div>

        </header>
        <div class="card-content">
          <div class="chart-area">
            <div class="h-full">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class="flex items-center justify-center h-screen" *ngIf="spinnerSite">
                    <div class="spin" ></div>
                  </div>
                  <div class="container">
                    <div class="">
                      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-1 overflow-x-auto">
                        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">

                          <table class="min-w-full leading-normal">
                            <thead>
                            <tr>
                              <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Nom
                              </th>
                              <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                IP Address
                              </th>

                              <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Status
                              </th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr   *ngFor="let site of sites | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page } ">
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <div class="flex items-center">

                                  <div class="ml-3">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                      {{site.nom}}
                                    </p>
                                  </div>
                                </div>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{site.ip}}</p>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <app-site-status [ip]="site.ip"></app-site-status>
                              </td>

                            </tr>

                            </tbody>
                          </table>

                        </div>
                      </div>
                      <div class="section main-section">
                        <pagination-controls *ngIf="sites.length>0" class="paginationforum" [class.active]="'colorActive'"  id="listing_pagination"  (pageChange)="page = $event" ></pagination-controls>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>



    </section>
  </div>
</div>
