<div class="dash">

  <div id="app">

    <app-aside></app-aside>

    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Admin</li>
          <li>Dashboard</li>
        </ul>

      </div>
    </section>
    <section class="is-hero-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
          Dashboard
        </h1>
        <span class="icon" *ngIf="spinnerSite">
              <i><nz-spin nzSimple [nzSize]="'large'"  style="margin-right: 50%"></nz-spin></i>
        </span>
      </div>
    </section>

    <section class="section main-section">
      <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Utilisateurs
                </h3>
                <h1>
                  1
                </h1>
              </div>
              <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Sites
                </h3>
                <h1>
                  {{sites.length}}
                </h1>
              </div>
              <span class="icon widget-icon text-blue-500"><i class="mdi mdi-database-marker mdi-48px"></i></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <div class="flex items-center justify-between">
              <div class="widget-label">
                <h3>
                  Performance
                  Batteries
                </h3>
                <h1>
                  50 %
                </h1>
              </div>
              <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-6">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-finance"></i></span>
            Surveillence des Batteries

          </p>
          <div class="flex items-center justify-center">
            <div class="flex ">
            <span *ngIf="!spinnerSite">
              <i class="mdi mdi-refresh mdi-48px" title="refresh" (click)="onRefresh()"></i>
            </span>

            </div>
          </div>

        </header>
        <div class="card-content">
          <div class="chart-area">
            <div class="h-full">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class="flex items-center justify-center h-screen" *ngIf="spinnerSite">
                    <div class="spin" ></div>
                  </div>
                  <div >

                    <ngx-charts-bar-vertical

                      [results]="dataSite | async"
                      [xAxisLabel]="'Sites'"
                      [legendTitle]="'Battery MPPT Status'"
                      [yAxisLabel]="'Voltage (v)'"
                      [legend]="true"
                      [showXAxisLabel]="true"
                      [showYAxisLabel]="true"
                      [xAxis]="true"
                      [yAxis]="true"
                      [gradient]="true"
                      [customColors]="dataColor |async"
                      >
                    </ngx-charts-bar-vertical>

                  </div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </section>
  </div>
</div>
