<div class="p-4 sm:ml-64">
  <div class="p-4">
    <div class="dash">

      <div id="app">

        <app-aside></app-aside>

        <div class="bg-gray-50 px-6 py-4 border-b border-gray-200">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">

            <!-- Left: Breadcrumb and Title -->
            <div>
              <!-- Breadcrumb -->
              <nav class="text-sm text-gray-500 mb-2">
                <ol class="flex items-center space-x-2">
                  <li><a routerLink="/dashbord" class="hover:underline">Admin</a></li>
                  <li>/</li>
                  <li class="font-semibold text-black">Projects</li>
                </ol>
              </nav>

              <!-- Page Title -->
              <h1 class="text-2xl font-semibold text-gray-800">Projects</h1>
            </div>

            <!-- Right: Buttons -->
            <div class="flex flex-col sm:flex-row gap-2">
              <button (click)="openCrudModal()"
                class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 w-full md:w-auto">
                <i class="fas fa-plus mr-2"></i> Ajouter
              </button>

            </div>

          </div>
        </div>

        <section class="section main-section">



          <div class="h-full mt-8 mx-auto">
            <!-- Card -->
            <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300">
              <!-- Card Header -->
              <div class="flex flex-wrap justify-between items-center mb-4 gap-4">
                <h2 class="text-lg font-semibold flex items-center gap-2">

                  <i class="fas fa-network-wired fa-2x text-blue-500" style="font-size: 20px;"></i>
                  Administration des projets
                </h2>
                <div class="relative">
                  <input type="text" placeholder="Search..." [(ngModel)]="term"
                    class="pl-10 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent w-72" />
                  <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd"
                        d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM10 16a6 6 0 100-12 6 6 0 000 12z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </div>
              </div>

              <!-- Chart Container -->
              <div class="relative">
                <!-- Loading Spinner -->
                <div class="flex items-center justify-center" *ngIf="spinnerSite">
                  <div class="spin"></div>
                </div>

                <!-- Content -->
                <div class="card-content">
                  <!-- Desktop Table -->
                  <div class="hidden md:block overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="!bg-blue-600 text-white">
                        <tr>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Nom
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Ville
                        </th>
                          
                        
                          <th
                            class="px-5 py-3 border-b-2 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let project of projects | filterBy: ['nom']: this.term | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page }">
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ project.nom }}</td>
                          <td class="px-5 py-5 font-semibold border-b border-gray-200 bg-white text-sm">{{ project.ville }}</td>
                         
    
                          <td data-label="Modifer" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <i (click)="onFitchSite(project)" data-label="modifer" title="modifer"
                              class="fa cursor-pointer fa-edit"></i>
                            <i (click)="openDeletedModal(project._id)" data-label="supprimer" title="supprimer"
                              class="fa cursor-pointer fa-remove ml-5"></i>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Mobile Cards -->
                  <div class="md:hidden space-y-4">
                    <div
                      *ngFor="let project  of projects|  filterBy: ['nom']: this.term | paginate: { id: 'listing_pagination', itemsPerPage: itemsPerPage, currentPage: page }"
                      class="bg-white shadow rounded-lg p-4 border border-gray-200 transition transform hover:scale-[1.01] duration-150">
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">Nom</span>
                        <p class="text-gray-800 font-medium">{{ project.nom }}</p>
                      </div>
                      <hr class="my-2 border-gray-100" />
                      <div class="mb-2">
                        <span class="text-xs font-semibold text-gray-500 uppercase">Ville</span>
                        <p class="text-gray-800 font-semibold">{{ project.ville }}</p>
                      </div>
                      
                      <hr class="my-2 border-gray-100" />
            
                      <div>
                        <span class="text-xs font-semibold text-gray-500 uppercase">Action</span>
                        <div class="mt-1">
                          <i (click)="onFitchSite(project)" data-label="modifer" title="modifer"
                            class="fa cursor-pointer fa-edit"></i>
                          <i (click)="openDeletedModal(project._id)" data-label="supprimer" title="supprimer"
                            class="fa cursor-pointer fa-remove ml-5"></i>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <div class="section main-section mt-4">
              <pagination-controls *ngIf="projects.length > 0" class="paginationforum" [class.active]="'colorActive'"
                id="listing_pagination" (pageChange)="page = $event">
              </pagination-controls>
            </div>
          </div>

        </section>

       
      </div>
    </div>
  </div>
</div>


<div id="delete-modal-project" tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <button type="button" (click)="deletedModal?.hide()"
        class="cursor-pointer absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="delete-modal-project">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Vous êtes sûr de supprimer le project
          sélectionné ?</h3>
                    <h2  class="mb-5 text-lg font-normal text-gray-500 dark:text-red-400" > Attention ! Si vous supprimez le projet , tous ses composants vont être aussi supprimés </h2>

        <button data-modal-hide="delete-modal-project" (click)="deleteProject(deletedProjectId)" type="button"
          class="cursor-pointer  bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          Oui, je suis sûr
        </button>
        <button data-modal-hide="delete-modal-project" (click)="deletedModal?.hide()" type="button"
          class=" cursor-pointer py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Non,
          annuler</button>
      </div>
    </div>
  </div>
</div>

<div id="crud-modal-project" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white" *ngIf="type!=='Edit'">
          Ajouter un nouveau Project
        </h3>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white" *ngIf="type=='Edit'">
          Modifier un Project
        </h3>
        <button type="button"
          class="cursor-pointer crud-modal-project text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="crud-modal-project">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="" (ngSubmit)="onAddStock(f, editProject)" #f="ngForm" class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">

          <!-- Nom du site -->
          <div class="col-span-2">
            <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Nom du project <span class="text-red-500">*</span>
            </label>
            <input type="text" name="nom" [ngModel]="type === 'Edit' ? projectEdited.nom : null" ngModel required
              #nom="ngModel" placeholder="Nom du project"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
            <p class="mt-1 text-sm text-red-500" *ngIf="f.submitted && !nom.valid">
              Le champ Nom ne correspond pas!
            </p>
          </div>

          <!-- Address IP -->
          <div class="col-span-2">
            <label for="ville" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Ville <span class="text-red-500">*</span>
            </label>
            <input type="text" name="ville" [ngModel]="type === 'Edit' ? projectEdited.ville : null" ngModel required
              #ip="ngModel" placeholder="Ville du project"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
            <p class="mt-1 text-sm text-red-500" *ngIf="f.submitted && !ip.valid">
              Le champ Address IP ne correspond pas!
            </p>
          </div>
          
        </div>

        <!-- Submit Buttons -->
        <button type="submit" [disabled]="f.invalid" 
          class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <i class="fa fa-save mr-2"></i> Enregistrer
        </button>

        
      </form>

    </div>
  </div>
</div>
