<aside class="aside "  >
  <div class="aside-tools">
    <div>
      <b class="font-black" *ngIf="isAdmin" ><i class="mdi mdi-account-key"></i> Administrator</b>
      <b class="font-black" *ngIf="!isAdmin" ><i class="mdi mdi-account"></i> Operator</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li class="active">
        <a routerLink="/dashbord">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>

    <p class="menu-label" *ngIf="isAdmin">Administration</p>
    <ul class="menu-list" *ngIf="isAdmin">
      <li class="--set-active-tables-html">
        <a routerLink="/dashbord/sites">
          <span class="icon"><i class="mdi mdi mdi-database-marker"></i></span>
          <span class="menu-item-label">Sites</span>
        </a>
        <a routerLink="/dashbord/members">
          <span class="icon"><i class="mdi mdi mdi-account-multiple"></i></span>
          <span class="menu-item-label">Users</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
